<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCXI6aAgnV6p289J_ZVlqsJYTzp-FHsS9E</string>
	<key>GCM_SENDER_ID</key>
	<string>399206806419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mxmeet.app</string>
	<key>PROJECT_ID</key>
	<string>mxmeet</string>
	<key>STORAGE_BUCKET</key>
	<string>mxmeet.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:399206806419:ios:e02a30b1aa13d141046e66</string>
</dict>
</plist>
